main{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 250px);
    gap: 1em;
}

section{
    border: 10px solid blue;

}

section:first-of-type{
    border-radius: 2em 0 2em 0;
}

section:last-of-type{
    border-radius: 0 2em 0 2em;

 
}
section:nth-of-type(odd){
    border: 5px solid blue;
    border-radius: 0 2em 0 2em;
}

section:nth-of-type(even){
    border: 5px solid red;
    border-radius: 2em 0 2em;
}
section :nth-child(odd){
    background-color: #cccc;
    color: #000;
}
